{% extends "hoosactive/base.html" %}
{% block content %}
{% load static %}


<body style="background-color: #EEEEEE;">
	<div class="container h-100 mt-3"style="background-color: #EEEEEE;">
		<div class="d-flex justify-content-center h-100">
			<div class="user_card">
				<div class="d-flex justify-content-center">
					<h2 class="mt-1" style="color: #FFF; text-align: center; margin-bottom: 0 !important; font-size: 20px;">{% if user.profile %}EDIT PROFILE{% else %}CREATE PROFILE{% endif%}</h2>
				</div>
				<div class="d-flex justify-content-center" style="margin-top: 20px;">

					<form method="POST" action="">
						{% csrf_token %}
						<h1 style="color: white">Enter Bio:</h1>
						<div class="input-group mb-2">
							<div class="input-group-append">
							</div>
							{{form.bio_text}}
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"></span>
							</div>
							{{form.age}}
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"></span>
							</div>
							{{form.height_feet}}
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"></span>
							</div>
							{{form.height_inches}}
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"></span>
							</div>
							{{form.weight_lbs}}
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"></span>
							</div>
							{{form.city}}
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"></span>
							</div>
							{{form.state}}
						</div>
						<div class="d-flex justify-content-center mt-3 login_container">
							<input type="button" value="Find my location" id="MyButton" >
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<p style="color: white;">Do you want your stats to be public?</p>
							</div>
							{{form.show_stats}}
						</div>
				   		<div class="d-flex justify-content-center mt-3 login_container">
				 			<input class="btn login_btn" type="submit" value="{% if user.profile %}Save Changes{% else %}Create Profile{% endif%}">
				   		</div>
					</form>
				</div>



				<div class="mt-3">

				</div>
			</div>
		</div>
	</div>

<script>
	var form_fields = document.getElementsByTagName('input')
	var prof = '{{user.profile}}'
	if (prof) {
		form_fields[2].defaultValue='{{user.profile.age}}';
		form_fields[3].defaultValue='{{user.profile.height_feet}}';
		form_fields[4].defaultValue='{{user.profile.height_inches}}';
		form_fields[5].defaultValue='{{user.profile.weight_lbs}}';
		form_fields[6].defaultValue='{{user.profile.city}}';
		form_fields[7].defaultValue='{{user.profile.state}}';
	}
	form_fields[2].placeholder='Age...';
	form_fields[3].placeholder='Height (ft)...';
	form_fields[4].placeholder='Height (inches)...';
	form_fields[5].placeholder='Weight (lbs)...';
	form_fields[6].placeholder='City...';
	form_fields[7].placeholder='State...';
	
	for (var field in form_fields) {
      form_fields[field].className += ' form-control'
    }
</script>
<script>
  $(document).ready(function(){
    $('#MyButton').click(function(){
       let apiKey = '2abf7b99c69f419396d826414e9ef3f5';
	   $.getJSON('https://api.bigdatacloud.net/data/ip-geolocation-with-confidence?key=' + apiKey, function(data) {
  	   console.log("JSON.stringify(data, null, 2)");
		});
    });
  });
</script>
</body>

{% endblock %}
