{% extends "hoosactive/base.html" %}
{% block content %}
{% load static %}


<body>
	<div class="container h-100 mt-3">
		<div class="d-flex justify-content-center h-100">
			<div class="user_card">
				<div class="d-flex justify-content-center">

					<!-- Should be changed to something more official than user.profile.age -->
					{% if user.profile.age %}
					<h2 class="mt-1" style="color: #FFF; text-align: center; margin-bottom: 0 !important; font-size: 20px;">EDIT PROFILE</h2>
					{% else %}
					<h2 class="mt-1" style="color: #FFF; text-align: center; margin-bottom: 0 !important; font-size: 20px;">CREATE PROFILE</h2>
					{% endif%}

				</div>
				<div class="d-flex justify-content-center" style="margin-top: 20px;">

					<form method="POST" action="">
						{% csrf_token %}
						<h1 style="color: white">Enter Bio:</h1>
						<div class="input-group mb-2">
							<div class="input-group-append">
							</div>
							{{form.bio_text}}
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"></span>
							</div>
							{{form.age}}
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"></span>
							</div>
							{{form.height_feet}}
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"></span>
							</div>
							{{form.height_inches}}
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"></span>
							</div>
							{{form.weight_lbs}}
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"></span>
							</div>
							{{form.city}}
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"></span>
							</div>
							{{form.state}}
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<p style="color: white;">Do you want your profile to be public?</p>
							</div>
							{{form.show_stats}}
						</div>



				   		<div class="d-flex justify-content-center mt-3 login_container">
				 			<input class="btn login_btn" type="submit" value="Create Profile">
				   		</div>

					</form>
				</div>



				<div class="mt-3">

				</div>
			</div>
		</div>
	</div>

<script>
	var form_fields = document.getElementsByTagName('input')

    form_fields[2].placeholder='Age...';
    form_fields[3].placeholder='Height (ft)...';
    form_fields[4].placeholder='Height (inches)...';
    form_fields[5].placeholder='Weight (lbs)...';
    form_fields[6].placeholder='City...';
    form_fields[7].placeholder='State...';
    form_fields[8].placeholder='Public Profile...';
	for (var field in form_fields){
      form_fields[field].className += ' form-control'
    }
</script>
</body>

{% endblock %}
