{% extends "hoosactive/base.html" %}
{% block content %}
{% load static %}

<div style="height: 100%; text-align: center;">
  {% if user.is_authenticated %}
  <br></br>
  <div class="row no-gutters">
    <div class="col">

      <!-- This is a chart. -->
      <script type="text/javascript">
        google.charts.load("current", {packages:['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        var date1 = new Date();
        var date2 = new Date();
        var date3 = new Date();
        var date4 = new Date();
        var date5 = new Date();
        var date6 = new Date();
        var date7 = new Date();
        date2.setDate(date1.getDate()-1);
        date3.setDate(date1.getDate()-2);
        date4.setDate(date1.getDate()-3);
        date5.setDate(date1.getDate()-4);
        date6.setDate(date1.getDate()-5);
        date7.setDate(date1.getDate()-6);
        console.log(date1);
        console.log(date2);
        console.log(date3);
        console.log(date4);
        console.log(date5);
        console.log(date6);
        console.log(date7);

        var days = ["MONDAY", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"];
        
        function drawChart() {
          var data = google.visualization.arrayToDataTable([
            ['Date', 'Calories Burned', { role: 'style' } ],
            [days[date7.getDay()-1], 10, 'color: #76A7FA'],
            [days[date6.getDay()-1], 14, 'color: #76A7FA'],
            [days[date5.getDay()-1], 16, 'color: #76A7FA'],
            [days[date4.getDay()-1], 22, 'color: #76A7FA'],
            [days[date3.getDay()-1], 28, 'color: #76A7FA'],
            ['Yesterday', 35, 'color: #76A7FA'],
            ['Today', 42, 'color: #76A7FA'],
          ]);

          var view = new google.visualization.DataView(data);

          var options = {
            title: "Calories Burned by Day",
            width: 750,
            height: 400,
            bar: {groupWidth: "95%"},
            legend: { position: "none" },
            fontSize: 10
          };
          var chart = new google.visualization.ColumnChart(document.getElementById("columnchart_values"));
          chart.draw(view, options);
        }
      </script>
      <div class="col-8" id="columnchart_values"></div>

      {% if user == profile_user %}
      <!-- Button meant to open Modal to adding exercise. -->
      <button style="font-size: 25px;" class="bi bi-plus-circle col-8 mt-5 mx-5 p-3 btn btn-outline-primary font-weight-bold" data-toggle="modal" data-target="#AddExerciseModal"> ADD EXERCISE </button>
      <!-- Modal in base.html -->

      <!-- Button meant to direct to workout scheduler. -->
      <button style="font-size: 25px;" class="bi bi-calendar-date col-8 mt-4 mx-5 mb-3 p-3 btn btn-outline-primary font-weight-bold" data-toggle="modal" data-target="#ScheduleWorkoutModal"> SCHEDULE WORKOUT </button>
      <!-- Modal in base.html -->
      {% endif %}

    </div>

    <div class="col mt-5">
      <img style="border-radius: 50%;width:200px;height:200px;" src="{% static 'hoosactive/images/empty-profile.png' %}">

      {% if profile_user.first_name %}
      <p style="font-size:30px;color:rgb(72,72,72);">{{ profile_user.first_name }} {{ profile_user.last_name }}</p>
      {% else %}
      <p style="font-size:30px;color:rgb(72,72,72);">{{ profile_user.username }}</p>
      {% endif %}

      <!-- <p style="font-size:20px;color:gray;">{{ profile_user.bio_text }}</p>
      <p style="font-size:20px;color:gray;">Age: {{ profile_user.age }}, Birthday: {{ profile_user.birthday }}</p>
      <p style="font-size:20px;color:gray;">Height: {{ profile_user.height_feet }}' {{ profile_user.height_inches }}", Weight: {{ profile_user.weight_lbs }} lbs</p>
      <p style="font-size:20px;color:gray;">{{ profile_user.city }}, {{ profile_user.state }}</p> -->

      <a href=""><button class="col-5 mt-2 mx-5 p-3 btn btn-outline-primary font-weight-bold">Friends</button></a>
      {% if user == profile_user %}
      <a href=""><button class="col-5 mt-2 mx-5 p-3 btn btn-outline-primary font-weight-bold">Settings</button></a>
      {% else %}
      {% if is_friend %}
      <a href=""><button class="col-5 mt-2 mx-5 p-3 btn btn-outline-primary font-weight-bold">Remove Friend</button></a>
      {% else %}
      <a href=""><button class="col-5 mt-2 mx-5 p-3 btn btn-outline-primary font-weight-bold">Send Friend Request</button></a>
      {% endif %}
      {% endif %}
    </div>
  </div>

  {% endif %}
</div>

{% endblock %}