{% extends "hoosactive/base.html" %}
{% block content %}
{% load static %}

<div style="height: 100%; text-align: center;">
  {% if user.is_authenticated %}
  <br></br>
  <div class="row no-gutters">
    <div class="col">

      <!-- This is a chart. -->
      <div style="width: 100%;">
        <div style="width: 500px; margin: auto;">
          <text>Calories Burned Per Day</text>
            <div class="profile-chart-row" style="height: 224px; align-items: flex-end;">
              {% for day, cals in stat_dict.items %}
              <div style="width: calc(100%/7); height: calc(200px*{{ cals.0 }}/1000 + 24px); padding: 0 0.3%;">
                <text>{{ cals.0 }}</text>
                <div class="profile-chart-bar" style="background: #007BFFC5; width: 100%; height: calc(200px*{{ cals.0 }}/1000);"></div>
              </div>
              {% endfor %}
            </div>
          <hr style="margin: 0; height: 1px; background: black;">
          <div class="profile-chart-row" style="align-items: flex-start;">
            {% for day, cals in stat_dict.items %}
            <text style="width: calc(100%/7); padding: 0 0.3%;">{{ day }}</text>
            {% endfor %}
          </div>
          <div class="profile-chart-row" style="align-items: flex-start;">
            {% for day, cals in stat_dict.items %}
            <text style="width: calc(100%/7); padding: 0 0.3%;">{{ cals.1 }}</text>
            {% endfor %}
          </div>
        </div>
      </div>

      {% if user == profile_user %}
      <!-- Button meant to open Modal to adding exercise. -->
      <button style="font-size: 25px;" class="bi bi-plus-circle col-8 mt-5 mx-5 p-3 btn btn-outline-primary font-weight-bold" data-toggle="modal" data-target="#AddExerciseModal"> ADD EXERCISE </button>
      <!-- Modal in base.html -->

      <!-- Button meant to direct to workout scheduler. -->
      <button style="font-size: 25px;" class="bi bi-calendar-date col-8 mt-4 mx-5 mb-3 p-3 btn btn-outline-primary font-weight-bold" data-toggle="modal" data-target="#ScheduleWorkoutModal"> SCHEDULE WORKOUT </button>
      <!-- Modal in base.html -->
      {% endif %}

    </div>

    <div class="col mt-5">
      <img style="border-radius: 50%;width:200px;height:200px;" src="{% static 'hoosactive/images/empty-profile.png' %}">

      {% if profile_user.first_name %}
      <p style="font-size:30px;color:rgb(72,72,72);">{{ profile_user.first_name }} {{ profile_user.last_name }}</p>
      {% else %}
      <p style="font-size:30px;color:rgb(72,72,72);">{{ profile_user.username }}</p>
      {% endif %}

      <!-- <p style="font-size:20px;color:gray;">{{ profile_user.bio_text }}</p>
      <p style="font-size:20px;color:gray;">Age: {{ profile_user.age }}, Birthday: {{ profile_user.birthday }}</p>
      <p style="font-size:20px;color:gray;">Height: {{ profile_user.height_feet }}' {{ profile_user.height_inches }}", Weight: {{ profile_user.weight_lbs }} lbs</p>
      <p style="font-size:20px;color:gray;">{{ profile_user.city }}, {{ profile_user.state }}</p> -->

      <a href=""><button class="col-5 mt-2 mx-5 p-3 btn btn-outline-primary font-weight-bold">Friends</button></a>
      {% if user == profile_user %}
      <a href="/profile/{{ user.username }}/update/"><button class="col-5 mt-2 mx-5 p-3 btn btn-outline-primary font-weight-bold">Settings</button></a>
      {% else %}
      {% if is_friend %}
      <a href=""><button class="col-5 mt-2 mx-5 p-3 btn btn-outline-primary font-weight-bold">Remove Friend</button></a>
      {% else %}
      <a href=""><button class="col-5 mt-2 mx-5 p-3 btn btn-outline-primary font-weight-bold">Send Friend Request</button></a>
      {% endif %}
      {% endif %}
    </div>
  </div>

  {% endif %}
</div>

{% endblock %}
