{% extends "hoosactive/base.html" %}
{% block content %}
{% load static %}

<div style="height: 100%; text-align: center;">
  {% if user.is_authenticated %}
  <br></br>
  <div class="row no-gutters">
    <div class="col">

      <!-- This is a placeholder for a some progress chart. -->
      <table class="col-8 table table-dark table-hover mt-5 mx-auto">
        <thead>
          <tr>
            <th scope="col">Upcoming Workout</th>
            <th scope="col">Date</th>
            <th scope="col">Time</th>
          </tr>
        </thead>
        <tbody>
          {% for workout in workout_list %}
          <tr>
            <td>{{ workout.desc }}</td>
            <td>{{ workout.date|date:"SHORT_DATE_FORMAT" }}</td>
            <td>{{ workout.date|date:"g" }}:{{ workout.date|date:"i" }} {{ workout.date|date:"A" }}</td>
          </tr>
          {% endfor %}
          {% for blank in workout_blank %}
          <tr>
            <td>⠀</td>
            <td>⠀</td>
            <td>⠀</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      {% if user == profile_user %}
      <!-- Button meant to open Modal to adding exercise. -->
      <button style="font-size: 25px;" class="bi bi-plus-circle col-8 mt-5 mx-5 p-3 btn btn-outline-primary font-weight-bold" data-toggle="modal" data-target="#AddExerciseModal"> ADD EXERCISE </button>
      <!-- Modal in base.html -->

      <!-- Button meant to direct to workout scheduler. -->
      <button style="font-size: 25px;" class="bi bi-calendar-date col-8 mt-4 mx-5 mb-3 p-3 btn btn-outline-primary font-weight-bold" data-toggle="modal" data-target="#ScheduleWorkoutModal"> SCHEDULE WORKOUT </button>
      <!-- Modal in base.html -->
      {% endif %}

    </div>
    <div class="col mt-5">
      <img style="border-radius: 50%;width:200px;height:200px;" src="{% static 'hoosactive/images/empty-profile.png' %}">

      {% if profile_user.first_name %}
      <p style="font-size:30px;color:rgb(72,72,72);">{{ profile_user.first_name }} {{ profile_user.last_name }}</p>
      {% else %}
      <p style="font-size:30px;color:rgb(72,72,72);">{{ profile_user.username }}</p>
      {% endif %}

      <!-- <p style="font-size:20px;color:gray;">{{ profile_user.bio_text }}</p>
      <p style="font-size:20px;color:gray;">Age: {{ profile_user.age }}, Birthday: {{ profile_user.birthday }}</p>
      <p style="font-size:20px;color:gray;">Height: {{ profile_user.height_feet }}' {{ profile_user.height_inches }}", Weight: {{ profile_user.weight_lbs }} lbs</p>
      <p style="font-size:20px;color:gray;">{{ profile_user.city }}, {{ profile_user.state }}</p> -->

      <a href=""><button class="col-5 mt-2 mx-5 p-3 btn btn-outline-primary font-weight-bold">Friends</button></a>
      {% if user == profile_user %}
      <a href=""><button class="col-5 mt-2 mx-5 p-3 btn btn-outline-primary font-weight-bold">Settings</button></a>
      {% else %}
      {% if is_friend %}
      <a href=""><button class="col-5 mt-2 mx-5 p-3 btn btn-outline-primary font-weight-bold">Remove Friend</button></a>
      {% else %}
      <a href=""><button class="col-5 mt-2 mx-5 p-3 btn btn-outline-primary font-weight-bold">Send Friend Request</button></a>
      {% endif %}
      {% endif %}
    </div>
  </div>

  {% endif %}
</div>

{% endblock %}